/* custom css file Made by JeanDoe */

/* 
    Imported Url
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Initialisation */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
}

*::selection {
  background: var(--white);
  color: var(--black);
}

input,
textarea,
*::placeholder {
  color: var(--black);
}

/* 
    Declaration of root variables
*/

:root {
  /* Colors */
  --main-color: #6669fd;
  --white: #fff;
  --white_a05: rgba(0, 0, 0, 0.05);
  --black: #232426;
  --light-bg: #202129;
  --light-color: #aaa;

  /* Fonts */
  --body-font: "Poppins", Arial, sans-serif;

  /* Borders & Shadows */
  --border0: 1px solid rgba(0, 0, 0, 0.05);
  --border1: 1px solid rgba(0, 0, 0, 0.8);

  --shadow0: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  --shadow1: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
  --shadow2: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
  --shadow3: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

/* Base of Code */

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 0.938rem;
  font-weight: normal;
  font-family: var(--body-font);
  color: var(--white);
  background: var(--light-bg);
  overflow-x: hidden;
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

body.dark {
  /* Colors */
  --black: #fff;
  --white: #232426;
  --white_a05: rgba(255, 255, 255, 0.05);
  --light-bg: #3d3939;
  --light-color: #444;

  /* Borders & Shadows */
  --border0: 1px solid rgba(255, 255, 255, 0.15);
  --border1: 1px solid rgba(255, 255, 255, 0.15);

  --shadow0: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  --shadow1: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
  --shadow2: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
  --shadow3: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

a {
  color: var(--black);
}

textarea,
input {
  font-family: var(--body-font);
  font-size: 0.938rem;
  font-weight: 300;
}

.icon {
  /* background: var(--white); */
  font-size: 1.5rem;
  padding: 0.2rem;
  border-radius: 0.25rem;
  color: var(--black);
  cursor: pointer;
  transition: color 0.3s linear;
}
.icon:hover {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  cursor: pointer;
  /* background: var(--black); */
  background: rgb(86, 89, 253, 0.5);
  color: var(--white);
  padding: 0.8rem 1.2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: 500;
  border: var(--border1);
  font-family: var(--body-font);
  margin: 1.5rem 1rem;
}
.btn:hover {
  color: var(--main-color);
  background: rgb(86, 89, 253, 0.9);
  color: var(--white);
  box-shadow: var(--shadow0);
}

.btn i {
  font-size: 1.5rem;
  /* font-weight: bold; */
  display: inline-block;
  vertical-align: middle;
  rotate: 0 deg;
  transition: rotate 0.3s linear;
}

.btn:hover i {
  rotate: -90deg;
}

/* Reusables Classes */

.main {
  box-shadow: var(--shadow1);
  max-width: 35rem;
  margin: 0 auto;
}

.container {
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.heading {
  color: var(--main-color);
  text-transform: none;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}
h1.heading {
  font-size: 1.3rem;
}
h2.heading {
  font-size: 1.1rem;
}

.subtitle {
  display: block;
  color: var(--light-color);
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.hideText {
  max-width: contain;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  font-weight: 500;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;
  color: var(--main-color);
  border-radius: 64% 36% 61% 39% / 30% 70% 30% 70%;
  background: var(--white);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

/* Header Section starts */

header {
  width: 100%;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    min-height: 20vh;
    border: var(--border0);

    img {
      max-width: 3rem;
      max-height: 3rem;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

/* home section starts */

.home {
  padding: 1rem;
  .container {
    min-height: 70vh;
    display: grid;
    place-items: center;
    place-content: center;
    gap: 1.5rem;
    .text {
      text-align: justify;
      line-height: 1.7;
      max-width: 25rem;
      width: 100%;
      &::first-letter {
        margin-left: 3rem;
      }
    }
  }
}

/* media querie starts */

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }
}
